.banner {
  background-color: #edede1;
}
.dfr {
  display: flex !important;
  flex-direction: row !important;
}

.fr {
  flex-direction: row !important;
}

.dfc {
  display: flex !important;
  flex-direction: column !important;
}

.fc {
  flex-direction: column !important;
}

.bc-black {
  background-color: black;
}

.c-white {
  color: #ffffff;
}

.bc-white {
  background-color: #ffffff;
}

.title {
  font-size: 42px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  line-height: 38px;
  font-weight: 600;
  color: #000000;
}

.subtitle {
  font-size: 18px;
  font-family: AdineuePRO, Helvetica, Arial, sans-serif;
  color: #000000;
}

.brand-shoe {
  width: 600px;
  height: 600px;
  margin-left: 200px;
  margin-top: -202px;
  float: right;
}

.cont-banner {
  margin-top: -762px;
}
