@import url(//db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);
@font-face {
  font-family: "AdihausDIN";
  src: url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.eot");
  src: url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/c0cd6ec8ce6d2bbd315a13b62ed13550.svg#AdihausDIN")
      format("svg");
}
.dfr {
  display: flex !important;
  flex-direction: row !important;
}

.fr {
  flex-direction: row !important;
}

.dfc {
  display: flex !important;
  flex-direction: column !important;
}

.fc {
  flex-direction: column !important;
}

.bc-black {
  background-color: black;
}

.c-white {
  color: #ffffff;
}

.bc-white {
  background-color: #ffffff;
}

.logo {
  width: 70px;
  margin: 10px;
  margin-left: 20px;
}
.navbar-lb-l:hover {
  color: #828282;
  border-bottom: 3px solid #000000;
}
.navbar-db-l:hover {
  color: #000000;
  border-bottom: 3px solid #000000;
}

.ml-40 {
  margin-left: 160px;
  margin-top: 30px;
}

.navbar-db-l {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}

.navbar-lb-l {
  text-decoration: none;
  color: #828282;
}

.navbar-db-l,
.navbar-lb-l {
  padding: 9px;
  margin-right: 30px;
  font-size: 14px;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  line-height: 45px;
  letter-spacing: 1.87px;
}

.bor-c-nav {
  border-bottom: 1px solid #eaecea;
}
.sp-snav {
  padding-right: 20px;
  font-size: 13px;
  text-decoration: none;
  font-weight: 400;
  font-family: AdihausDIN, Helvetica, Arial, sans-serif;
  color: #828282;
}
.sp-snav:hover {
  color: #828282;
  cursor: pointer;
}

.th-col-nav {
  margin-left: 150px;
  margin-top: 5px;
}

.search-icon {
  z-index: 2;
  margin-left: -25px;
  position: relative;
  color: #000000;
  cursor: pointer;
}

.search {
  background-color: #e8ecef;
  border: 0;
  padding: 5px;
  width: 210px;
  height: 32px;
}
.margin-5px {
  margin-top: 5px;
  margin-left: 0px;
}

.sp-icon {
  margin-left: 25px;
  width: 23px;
  height: 23px;
  color: #000000;
}
